:host{
  height: 100%;
  padding: 8pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24pt;
  width: 250px;
  min-width: 250px;
  background: var(--fill);
  backdrop-filter: blur(32pt);
  border-right: 1px solid var(--stroke-weak);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 16pt;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}

ul > p {
  font-weight: 500;
  color: var(--brand-weak);
  padding: 0 8pt;
}

.separator {
  height: 1px;
  background-color: var(--stroke-weak);
  width: 100%;
}

li {
  position: relative;
  list-style: none;
  padding: 8pt;
  border-radius: 8pt;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8pt;
  color: var(--text-weak);
  stroke: var(--text-weak);
  cursor: pointer;
}

li > p, li > hugeicons-icon {
  transition: all .3s ease-in-out;
}

li.active > p, li:hover > p, li.active > hugeicons-icon, li:hover > hugeicons-icon {
  color: var(--text-strong);
  stroke: var(--text-strong);
}

li.active {
  stroke: var(--brand-strong);
  background-color: var(--fill-dark);
}

li.danger {
  border-top: 1px solid var(--stroke-weak);
  border-radius: 0;
}

li.danger:hover > p, li.danger:hover > hugeicons-icon {
  color: var(--error-strong);
  stroke: var(--error-strong);
}



@media (max-width: 768px) {
  :host {
    width: max-content;
    min-width: max-content;
    z-index: 100;

    transition: width .3s ease-in-out;
  }

  :host:hover {
    position: absolute;
    width: 250px;
    min-width: 250px;
  }

  :host:hover nav > ul > li > p,
  :host:hover nav > li.danger > p {
    display: block;
  }

  nav > ul > p,
  nav > ul > li > p,
  nav > li.danger > p{
    display: none;
  }
}


@media (max-width: 576px) {
  :host {
    width: 100% !important;
    min-width: 100% !important;
    height: 60px;
    min-height: 60px;
    padding: 0 16pt;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-right: none;
    border-top: 1px solid var(--stroke-weak);
    overflow-y: hidden;
    overflow-x: auto;
  }

  nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  nav > ul {
    display: contents;
  }

  nav > ul > p,
  nav > ul > li > p,
  li.danger > p,
  .separator {
    display: none !important;
  }

  li {
    padding: 8pt;
    justify-content: center;
    align-items: center;
  }

  li.danger {
    border-top: none;
    padding: 8pt;
  }
}
