:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--background);
  padding-top: 7vh;
}

section {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background);
  padding: 8vh 5vw;

  box-shadow: 0 4px 20px rgba(62, 45, 45, 0.08),
  0 1px 4px rgba(62, 45, 45, 0.04);
}

section form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.forget-link {
  margin-top: 8pt;
  display: flex;
  gap: 4pt;
  cursor: pointer;
}

.forget-link > b {
  font-weight: 500;
  color: var(--text-strong) !important;
  transition: opacity 0.2s;
}

.forget-link:hover > b {
  opacity: 0.8;
  text-decoration: underline;
}


