<h2>Villa Rendano B&B</h2>
<section>
  <div class="welcome">
    <h3>Benvenuto</h3>
    <p>Inserisci le tue credenziali per accedere</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Indirizzo Email</label>
      <input
        [class.invalid]="checkIsInvalidEmail()"
        id="email"
        type="email"
        placeholder="Inserisci la tua email"
        formControlName="email">

      @if (checkIsInvalidEmail()){
        <small class="error-message">Inserisci un indirizzo email valido</small>
      }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        [class.invalid]="checkIsInvalidPassword()"
        id="password"
        type="password"
        placeholder="Inserisci la tua password"
        formControlName="password">

      @if (checkIsInvalidPassword()) {
        <small class="error-message" style="display: block;">
          La password deve contenere:
          <br />• Almeno una maiuscola
          <br />• Almeno una minuscola
          <br />• Almeno un numero
          <br />• Almeno un carattere speciale
        </small>
      }
    </div>

    <button class="primary" type="submit" [disabled]="isLoading">
      @if(isLoading) { Attendere... } @else { Accedi }
    </button>

    <p class="text-small forget-link">Hai dimenticato la password? <b>Clicca qui</b></p>
  </form>
</section>

