<h2>Villa Rendano B&B</h2>
<section>
  <div class="welcome">
    <h3>Benvenuto</h3>
    <p>Inserisci le tue credenziali per accedere</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="email">Indirizzo Email</label>
      <input
        [class.error]="checkIsValidEmail()"
        id="email"
        type="email"
        placeholder="Inserisci la tua email"
        formControlName="email">

      @if (checkIsValidEmail()){
        <small class="form-field-error">Inserisci un indirizzo email valido</small>
      }
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        [class.error]="checkIsValidPassword()"
        id="password"
        type="password"
        placeholder="Inserisci la tua password"
        formControlName="password">

      @if (checkIsValidPassword()) {
        <small class="form-field-error" style="display: block;">
          La password deve contenere:
          <br />• Almeno una maiuscola
          <br />• Almeno una minuscola
          <br />• Almeno un numero
          <br />• Almeno un carattere speciale
        </small>
      }
    </div>

    <button type="submit">Accedi</button>
  </form>
</section>
<div class="forget-password">
  <p>Password Dimenticata?</p>
  <a href="#">Clicca qui</a>
</div>
