
:root {
  --background: #F5F7FA;
  --background-trasparent: #F5F7FA80;

  --fill: #FFFFFF1A;
  --fill-dark: #20202008;

  --text-strong: #3e2d2d;
  --text-weak: #756a6a;

  --text-on-black-strong: #FFFFFF;
  --text-on-black-weak: rgba(255, 255, 255, 0.65);

  --stroke-strong: #D1D5DB;
  --stroke-weak: #E5E7EB;

  --stroke-on-black-strong: #F2FAFB73;
  --stroke-on-black-weak: #F2FAFB26;

  --brand-strong: #3e2d2d;
  --brand-weak: #6e5959;
  --brand-stroke-strong: #574444;
  --brand-stroke-weak: #e8e2e2;
  --brand-fill: #f5f0f0;

  --error-strong: #EF4444;
  --error-weak: #EF4444E6;
  --error-stroke-strong: #EF444473;
  --error-stroke-weak: #EF444433;
  --error-fill: #EF44441A;

  --btn-strong: #F1F5F9;
  --btn-weak: #F8FAFC;

  --warning-strong: #EAB308;
  --warning-fill: #EAB30812;
  --warning-text: #854D0E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-strong);
  scroll-behavior: smooth;
}

hugeicons-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

